@font-face {
    font-family: 'GmarketSansLight';
    src: url('/fonts/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('/fonts/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('/fonts/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}